<h5>Есть Вопросы!? Ладно я рофлю, никого не Интересует</h5>
<form action="/createproduct" method="post">

<div class="input-field">
    <input type="text" name="Adres" placeholder="Adres">
    <input type="number" name="Price" placeholder="Price">
    <input type="text" name="IMG" placeholder="IMG URL">
    <input type="number" name="RommsCount" placeholder="Count Of Rooms">
    <input type="number" name="Square" placeholder="Square">
    <input type="number" name="Floor" placeholder="Floor">
    <input type="text" name="Description" placeholder="Description">
</div>

<button type="submit" style="background-color:#F1C40F; color: white; margin-top: 3%" class="btn">Удачи Создать Мать</button>


</form>

<form style="margin-top:5%" action="/deleteproduct" method="post">
    <h5 > ДА-ДА Это Удаление , жду топ 40 лучших вопросов на случай смерти ребенка </h5>
    <select name="id" "form-select" aria-label="Default select example"style="width: 200px">
        {{#if product.length}}
        {{#each product}}
        <option value="{{_id}}">{{Adres}}</option>
        {{/each}}
        {{/if}}

    </select>
    <button type="submit" style="background-color:#F1C40F; color: white;  margin-right:80%" class="btn">Кикнуть Мать</button>
</form>
