<h2>ТІ ХУЙЛО!</h2>
<form action="/createproduct" method="post">

<div class="input-field">
    <input type="text" name="Adres" placeholder="Adres">
    <input type="number" name="Price" placeholder="Price">
    <input type="text" name="IMG" placeholder="IMG URL">
    <input type="number" name="RommsCount" placeholder="Count Of Rooms">
    <input type="number" name="Square" placeholder="Square">
    <input type="number" name="Floor" placeholder="Floor">
</div>

<button type="submit" class="btn">Creaate Product</button>


</form>
